<h1>List of users</h1><br>

<table class="table table-striped">
  <col width="499">
  <col width="499">
  <col width="1">
  <col width="1">
  <th>Username</th>
  <th>Email</th>
  <th></th>
  <th></th>
  <%= render @users %>
  <tr>
    <td class="total-row text-center" colspan="4"><strong><%= pluralize(@users.count, 'user') %></strong></td>
  </tr>
</table>