<h1 class="text-center">Sign In</h1><br>

<%= form_tag logins_path, class: 'text-center' do %>
<p><%= text_field_tag :username, params[:username], class: 'form-control username', placeholder: 'Username' %></p>

<p><%= password_field_tag :password, params[:password], class: 'form-control password', placeholder: 'Password' %></p>

<%= submit_tag 'Log In', class: 'btn btn-default' %>
<% end %>