<h1>List of services</h1><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title pull-left">
      <strong>Services</strong>
    </h3>
    <%= button_to 'New Service', new_church_service_path(@church), class: 'btn btn-success btn-xs pull-right', method: :get %>
    <div class="clearfix"></div>
  </div>
  <table class="table table">
    <col width="199">
    <col width="199">
    <col width="199">
    <col width="199">
    <col width="199">
    <col width="2">
    <col width="1">
    <col width="2">
    <th>Church Name</th>
    <th>Day of Week</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
    <%= render @services %>
    <tr>
      <td class="total-row text-center" colspan="6"><strong><%= pluralize(@services.count, 'service') %></strong></td>
    </tr>
  </table>
</div>