<h1>List of churches</h1><br>

<table class="table table-striped">
  <col width="499">
  <col width="499">
  <col width="1">
  <col width="1">
  <th>Church Name</th>
  <th>Website</th>
  <th></th>
  <th></th>
  <%= render @churches %>
  <tr>
    <td class="total-row text-center" colspan="4"><strong><%= pluralize(@churches.count, 'church') %></strong></td>
  </tr>
</table>

<%= link_to 'New Church', new_church_path, class: 'btn btn-success' %>